<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">

        <title>{{title}} | CiFoP</title>

        <link href="/assets/img/favicon.ico" rel="icon">

        <link href="/assets/css/main.css" type="text/css" rel="stylesheet">

        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/socket.io.js"></script>
        <script src="/assets/js/autolink.js"></script>
    </head>

    <body>
        <div class="wrap">
            <header>
                <a href="/" class="logo"></a>
            </header>

            <div class="content">
                {{{body}}}
            </div>
        </div>
    </body>
</html>
