<ul class="nolist noselect gameControlBar">
    <li><i class="fa fa-sliders" id="showControlPanel"></i>
        <ul class="hidden nolist gameControlPanel">
            <li>Room
                <ul class="nolist">
                    <li><label><input type="checkbox" id="settingsSpectators" {{#if settings.defaults.room.spectators}}checked="checked"{{/if}} disabled>Allow spectators</label></li>
                    <li><label><input type="checkbox" id="settingsTimeout" {{#if settings.defaults.room.timeout}}checked="checked"{{/if}} disabled>Time-out idle players</label></li>
                </ul>
            </li>

            <li>Game
                <ul class="nolist">
                    <li>
                        <label for="settingsPlayers">Players</label>
                        <input type="range" min="2" max="{{settings.limits.players}}" id="settingsPlayers" value="{{settings.defaults.game.players}}" disabled>
                    </li>

                    <li>
                        <label for="settingsScore">Score</label>
                        <input type="range" min="3" max="{{settings.limits.score}}" id="settingsScore" value="{{settings.defaults.game.score}}" disabled>
                    </li>
                </ul>
            </li>

            <li>Packs
                <ul class="nolist">
                    {{#each packs}}
                    <li><label><input type="checkbox" id="{{this.id}}" class="settingsPacks" disabled>{{this.name}}</label></li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </li>

    <li class="start-game"><input type="button" id="start" class="button hidden" value="Start game"></li>

    <li class="play-cards"><button id="playCards" class="button play">Play</button></li>
    <li class="play-cards"><button id="playWinner" class="button play">Winner</button></li>
</ul>

<div id="black" class="hidden card card-black"></div>

<ul id="playedCards" class="nolist played"></ul>

<div class="noselect hand">
    <ul id="hand" class="nolist"></ul>
</div>

<div class="sidebar">
    <div class="sidebar-inner">
        <ul class="nolist noselect sidebar-tabs">
            <li><i class="fa fa-users"></i></li>
            <li><i class="fa fa-gears"></i></li>
        </ul>

        <ul id="userlist" class="nolist userlist"></ul>

        <div class="chatbox">
            <div class="chatbox-inner">
                <div id="messages" class="messages">
                    <ul class="nolist"></ul>
                </div>

                <form id="writer">
                    <input class="writer" type="text" maxlength="140" placeholder="Chat...">
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/game.js"></script>
