<h1>Rooms</h1>

<input type="text" id="roomName" maxlength="30" placeholder="New room..."><input type="button" id="roomCreate" class="button" value="Create">

<ul id="roomlist"></ul>

<script src="/assets/js/rooms.js"></script>
