$sidebar-width: 16rem;

.gameControlBar {
    background: $color-primary;
    color: $color-text-inverse;
    position: absolute;
    top: 0;
    right: $sidebar-width;
    left: 0;
    box-sizing: border-box;
    padding: 0 2rem;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    li {
        position: relative;
        float: left;
        margin: 0 1rem 0 0;

        i {
            padding: 1rem 2rem;
        }
        i:hover {
            background: $color-primary-dark;
            cursor: pointer;
        }
    }

    .start-game {
        margin: .5rem 0;
    }
    .play-cards {
        float: right;
        margin: .5rem 0;
    }
}
.gameControlPanel {
    background: $color-primary-dark;
    position: absolute;
    z-index: 1;
    padding: 1rem 2rem;
    line-height: 1.5;

    li {
        width: 300px;
        float: left;
    }

    li ul {
        padding: 0;
    }
}

.hand {
    height: 275px;
    position: absolute;
    right: $sidebar-width;
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: hidden;
    cursor: default;

    ul {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        margin: 2rem 2rem 1rem 2rem;
    }
    ul li {
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        margin: 0 -1rem 0 0;
    }
}

.card {
    width: 175px;
    height: 225px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 1.5rem;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    font-family: "RobotoBold", sans-serif;
    line-height: 1.5;
}
.card-white {
    background: #fff;
}
.card-playable:hover {
    color: $color-text-inverse;
    background: $color-primary-dark;
    cursor: pointer;
}
.card-black {
    color: #fff;
    background: #111;
    position: absolute;
    top: 5rem;
    cursor: default;
}
.card-selected {
    color: #fff;
    background: $color-primary-dark;
    bottom: 1rem;
}
.card-blank {
    width: 4rem;
    height: 1rem;
    display: inline-block;
    border-bottom: solid 1px #fff;
}
.card-count {
    color: $color-text;
    background: #fff;
    position: absolute;
    top: .2rem;
    right: .2rem;
    padding: .25rem .6rem .2rem .6rem;
    border-radius: 1rem;
    font-size: .9rem;
}
.card-logo {
    width: 100px;
    position: absolute;
    bottom: .5rem;
    left: 1rem;
}
.played {
    position: absolute;
    top: 5rem;
    left: 15rem;
}
.played li {
    float: left;
}
.cards-group:not(:last-child) {
    margin: 0 1rem 0 0;
}
.cards-group ul li:not(:last-child) {
    margin: 0 -1rem 0 0;
}
.cards-group:hover ul li,
.winner {
    color: #fff;
    background: $color-primary-dark;
    cursor: pointer;
}

.sidebar {
    color: #fff;
    background: $color-primary;
    width: $sidebar-width;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.sidebar-inner {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 3rem 0 0 0;
}
.sidebar-tabs {
    width: 100%;
    position: absolute;
    top: 0;

    li {
        background: $color-primary-dark;
        width: 50%;
        float: left;
        box-sizing: border-box;
        text-align: center;

        i {
            padding: 1rem 0;
        }
    }
    li {
        border-left: solid 1px rgba(0, 0, 0, 0.1);
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }
    li:hover,
    li:first-child {
        background: $color-primary;
        cursor: pointer;
    }
}
.userlist {
    padding: 1rem;
    line-height: 1.5;
    font-size: .8rem;
}
.chatbox {
    color: $color-text;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.chatbox-inner {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}
.messages {
    background: $color-background;
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    font-size: .8rem;
    line-height: 1.2;
    word-wrap: break-word;
    overflow-y: auto;
    cursor: default;

    li {
        position: relative;
        padding: 0 3rem 0 0;
    }
    li:not(:last-child) {
        margin: .3rem 0;
    }
   .broadcast {
        color: $color-chat-broadcast;
        display: block;
        margin: .6rem 0 .3rem 0;
        font-family: $font-primary-bold, sans-serif;
   }
   .personal {
        color: $color-chat-personal;
   }
   .username {
        display: block;
        margin: .6rem 0 .3rem 0;
        font-family: $font-primary-bold, sans-serif;
   }
   .time {
        color: #ccc;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
   }
   li:hover .time {
        display: inline-block;
   }
}
.writer {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: none;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}
