@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: "RobotoItalic";
    src: url('../fonts/roboto/Roboto-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: "RobotoBold";
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: "RobotoBoldItalic";
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}
