input,
.button {
    font-family: inherit;
}

input {
    padding: .5rem 1rem;
    border: solid 1px #ccc;
    font-size: .8rem;
}

@mixin button($background, $padding-y, $padding-x, $font-size, $shadow) {
    background: $background;
    color: $color-text-inverse;
    display: inline-block;
    padding: $padding-y $padding-x;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-radius: 3px;
    font-size: $font-size;
    text-decoration: none;
    box-shadow: 0 $shadow 0 0 $color-primary-shadow;
}

.button {
    @include button($color-primary, .5rem, 1rem, .8rem, 1px);
}

.button-big {
    @include button($color-primary, 1rem, 2rem, 1rem, 2px);
}

.button:hover,
.button-big:hover {
    background: $color-primary-dark;
    border: solid 1px rgba(0, 0, 0, 0);
    border-bottom: none;
}

input:focus,
button:focus {
    outline: none;
}

input[type="checkbox"] {
    margin: 0 1rem 0 0;
}
input[type="range"] {
    display: block;
}

.input-error {
    background: #fee;
}
.button:disabled {
    background: #aaa;
    box-shadow: 0 2px 0 0 #888;
}
