$color-text: #333;
$color-text-inverse: #fff;
$color-background: #fff;

$color-primary: #3af;
$color-primary-dark: #08f;
$color-primary-shadow: #27b;

$color-chat-broadcast: #4a4;
$color-chat-personal: #a44;

$font-primary: "Roboto";
$font-primary-italic: "RobotoItalic";
$font-primary-bold: "RobotoBold";
$font-primary-bold-italic: "RobotoBoldItalic";

.dark {
    background: $color-primary-dark;
}
