@import 'normalize';
@import 'font-awesome';
@import 'fonts';
@import 'theme';
@import 'inputs';
@import 'normals';
@import 'pages/game';
@import 'states';

body {
    color: $color-text;
    background: $color-background;
    font-family: $font-primary, sans-serif;
}

strong {
    font-family: $font-primary-bold, sans-serif;
}
em {
    font-family: $font-primary-italic, sans-serif;
}

a {
    color: #48c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
}

header {
    width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);

    .logo {
        display: inline-block;
        background: url('/assets/img/logo.svg') no-repeat center center;
        background-size: auto 60px;
        width: 100px;
        height: 60px;
        padding: 1rem 2rem;
    }
}

.content {
    position: relative;
    flex: auto;
    box-sizing: content-box;
    padding: 1rem 2rem;
}
